.achievments {
    padding: 50px 0;
  // .achievments__container

  &__container {
  }

  // .achievments__list

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
  }

  // .achievments__item

  &__item {
    display: grid;
    gap: 10px;
    h2 {
      font-weight: 900;
      font-size: 64px;
      line-height: 130%;
      color: var(--color-blue);
    }

    p {
      color: rgba(16, 16, 16, 0.5);
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
    }
  }
}
.container {
}
