.header {
  padding: 30px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}
@media (max-width: 1024px) {
  .header {
    position: static;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 80px;
  z-index: 12;
}
@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}
.header__menu--adaptive {
  position: fixed;
  top: -30px;
  left: 0;
  right: 0;
  padding: 15px;
  background: #2A3674;
  min-height: 105vh;
  padding-top: 130px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.header__menu--adaptive ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header__menu--adaptive.active {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1024px) {
  .header__right {
    display: none;
  }
}
.header__burger {
  display: none;
  flex-direction: column;
  flex: 0 0 37px;
  height: 19px;
  background: none;
  position: relative;
}
.header__burger span {
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.header-dark .header__burger span {
  background-color: var(--color-blue);
}
.header__burger.active span:nth-child(1) {
  width: 0;
}
.header__burger.active span:nth-child(2) {
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
}
.header__burger.active span:nth-child(3) {
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
}
@media (max-width: 1024px) {
  .header__burger {
    display: flex;
  }
}
.header__burger span:nth-child(2) {
  position: absolute;
  top: 50%;
}
.header__burger span:nth-child(3) {
  position: absolute;
  top: 100%;
}

.header-light {
  color: var(--color-light);
  background-color: var(--color-blue);
}

.header-dark {
  color: var(--color-blue);
  background-color: var(--color-light);
}

.menu-header__list {
  display: flex;
  gap: 21px;
  list-style: none;
  align-items: center;
}
.menu-header__popup {
  padding: 40px 50px;
  background: rgba(38, 48, 102, 0.8);
  display: grid;
  grid-template-columns: repeat(3, 280px);
  gap: 30px;
  border-radius: 20px;
  position: absolute;
  top: 150%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-header__popup:hover {
    opacity: 1;
    visibility: visible;
  }
}
.menu-header__popup::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -40px;
  left: 27%;
  transform: translateX(-50%);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  border: 20px solid transparent;
  border-bottom: 20px solid rgba(38, 48, 102, 0.9);
}
.menu-header__popup__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-header__popup__item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}
.menu-header__popup__item span {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.5);
}
@media (any-hover: hover) {
  .menu-header__item a:hover ~ ul.menu-header__popup {
    opacity: 1;
    visibility: visible;
  }
}

.right-header {
  display: flex;
  gap: 10px;
}
@media (max-width: 1024px) {
  .right-header {
    display: none;
  }
}
.right-header__tel {
  padding: 10px 27px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.header-dark .right-header__tel {
  background: rgba(82, 108, 241, 0.1);
}
.right-header__login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 27px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .right-header__login:hover {
    background-color: var(--color-light);
    color: var(--color-blue);
  }
}
.header-dark .right-header__login {
  border: 2px solid var(--color-blue);
}
@media (any-hover: hover) {
  .header-dark .right-header__login:hover {
    background-color: var(--color-blue);
    color: var(--color-light);
  }
}
.right-header__register {
  padding: 10px 30px;
  font-weight: 600;
  background-color: var(--color-light);
  color: var(--color-blue);
  border-radius: 8px;
}
.header-dark .right-header__register {
  background-color: var(--color-blue);
  color: var(--color-light);
}/*# sourceMappingURL=header.css.map */