@use "sass:math";
@import "./mixins.scss";

.hero {
  @include adaptiveValue("padding-top", 210, 30);
  @include adaptiveValue("padding-bottom", 100, 30);
  background: url("../images/bg.png") 0 0 no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  // .hero__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;

    div {
        flex: 1 1 auto;
    }

    button {
      @include adaptiveValue("margin-bottom", 150, 30);
    }
  }

  // .hero__title

  &__title {
    @include adaptiveValue("font-size", 64, 20);
    font-weight: 800;
    line-height: 140%;
    text-align: center;
    color: var(--color-light);
    margin-bottom: 38px;
    text-transform: uppercase;
  }

  // .hero__text

  &__text {
    color: #cbd3fb;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    flex: 1 1 auto;
    max-width: 380px;
    @include adaptiveValue("margin-bottom", 90, 30);
  }

  // .hero__download

  &__download {
    margin-top: 30px;
  }
}
.container {
}
.text {
}
.btn {
}
.btn-light {
}
