.hero-rates {
  padding: 50px 0;

  // .hero-rates__container

  &__container {
    background: url("../images/rates-bg.jpg") 0 0 no-repeat;
    background-size: contain;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 485px;
    align-items: center;
    justify-content: flex-end;
  }

  // .hero-rates__title

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #526cf1;
  }

  // .hero-rates__subtitle

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */

    text-align: center;

    color: rgba(0, 0, 0, 0.7);
  }
}
.container {
}
